body{
    display: none;
}

input{
    width: 50px;
}

.center{
    text-align: center;
    margin: auto;
}

.medium{
    position: absolute;
    top: 10px;
}

.statistic{
    background-color: white;
    display: inline-block;
}

.error{
    font-size: small; 
    color: red;
    opacity: 0%;
    display: inline-block;
}

#canvs{
    display: block;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#canvas_container{
    position: relative;
}

#TIR{
    opacity: 0%;
    color: red;
}
