body{
    overflow: hidden;
}
.overflow-hidden{
    overflow: hidden;
}
.border{
    border: 1px solid grey;
}
.border-bottom{
    border-bottom: 1px solid grey;
}
.border-right{
    border-right: 1px solid grey;
}

.flex{
    display: flex;
}

.height100vh{
    height: 100vh;
}
.height100{
    height: 100%;
}
.height25{
    height: 25%;
}
.width100{
    width: 100%;
}
.width75{
    width: 75%;
}
.width25{
    width: 25%;
}
.width45{
    width: 50%;
}

.stop_box:hover{
    background-color: #d5d5d5;
    cursor: pointer;
}
.stop_box{
    height: 120px;
    border-bottom: 1px solid grey;
}
.departure_box{
    height: 120px;
    border-bottom: 1px solid grey;
}
.departure_box:hover{
    background-color: #d5d5d5;
}

.clickable:hover{
    cursor: pointer;
}
.overflow{
    overflow: auto;
}
.overflow::-webkit-scrollbar{
    display: none;
}

.text-align-center{
    text-align: center;
}
.center{
    margin: auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-space{
    display: flex;
    justify-content: space-between;
}
.font-x-large{
    font-size: x-large;
}
.font-large{
    font-size: large;
}

.float-right{
    float: right;
}
.red{
    background-color: red;
}

.background-grey{
    background-color: #45484a;
    color: white;
}
.padding15px{
    padding: 15px;
}
.padding10px{
    padding: 10px;
}

.rounded_h{
    border-radius: 50vh;
}

.small_route_button{
    display: inline-block;
    border-radius: 50vh;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 5px;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.margin-top-10px{
    margin-top: 10px;
}
.inline-block{
    display: inline-block;
}
.margin-right-0{
    margin-right: 0px;
}
.font-grey{
    color: grey;
}
.estimated_button{
    border: 1px solid black;
    border-radius: 50vh;
    text-align: center;
    font-size: large;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.flex-float-right{
    margin-left: auto;
    margin-right: 10px;
}
.top-bar{
    background-color: black;
    height: 30px;
}
.white-text{
    color: white;
}
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.bold{
    font-weight: bold;
}
#settings_box:hover{
    background-color: gray;
    cursor: pointer;
}