body{
    /* text-align: center; */
    margin: auto;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.button{
    cursor: pointer;
}
#settings_button{
    padding-top: 3px;
}

.header{
    /* button height=21px */
    padding: 3px;
    margin: 5px;
    text-align: center;
    height: 21px;
}
.header_hidden{
    animation-name: fade_out;
    animation-duration: 0.5s;
    transition-timing-function: ease-out;
    opacity: 0.5;
}
.header_hidden:hover{
    animation-name: fade_in;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    opacity: 1;
}
@keyframes fade_in {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade_out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
/* .header_german{
    background-color: rgb(254,196,0);
} */
.embed{
    text-align: center;
    margin: 0px;
    padding: 0px;

    height: calc(100vh - 50px);
    width: calc(100% - 30px);
}
.body{
    margin: 0px;
}
.dashboard{
    padding: 8px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.dashboard_table{
    margin: 8px;
    float: left;
}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */  
    overflow: auto; /* Enable scroll if needed */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4);
}
.modal_box{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
table,td,th{
    /* width: 175px; */
    width: 160px;
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    height: 20px;
}
#main_embed{
    height: calc(100vh - 140px);
    width: calc(100% - 30px);

    display: inline-block; 
    border-style: solid; 
    border-width: 1px; 
    border-color: black;
    margin: auto;
    margin-top: 30px;
}
.height100{
    height: 100%;
}
.flex-center{
    display: flex;
    justify-content: center;
}