/* html,body{
    height: 100%;
} */

body{
    /* display: flex; */
    /* flex-flow: column; */
    text-align: center;
    margin: auto;
    
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#canvas{
    padding: 10px;
    /* flex: 1 1 auto;  */
    /* margin: auto; */
    /* border: 1px solid black; */
}
