.content-container {
    padding: 0 100px;
    margin: 0 auto;

    max-width: 1500px;
}
.content-container-small {
    padding: 0 20px;
}
.project-card {
    border: 1px solid black;
    border-radius: 1em;

    overflow: hidden;
    padding-bottom: 20px;
}

@keyframes bgSlideIn {
    from {background-position: -30% 0;}
    to {background-position: 0 0;}
}
.bg-slide-in {
    animation-name: bgSlideIn;
    animation-duration: 1s;
}

@keyframes jumpUpDown {
    0% {top: 0;}
    50% {top: -10px;}
    100% {top: 0px;}
}

.jump-up-down {
    position: relative;
    animation-name: jumpUpDown;
    animation-duration: 0.7s;
}

@keyframes popOutIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 10px 5px #ffdd00;
    }
    100% {transform: scale(1);}
}

.pop-out-in {
    animation-name: popOutIn;
    animation-duration: 0.75s;
    transform-origin: 50% 50%;
}

.glow-on-hover:hover {
    box-shadow: 0 0 10px 5px #ffdd00;
}
.glow-on-hover {
    transition-duration: 0.2s;
}

.pop-on-hover:hover {
    transform: scale(1.05);
}
.pop-on-hover {
    transition-duration: 0.2s;
}