.content-container {
    padding: 0 100px;
    margin: 0 auto;

    max-width: 1500px;
}
.content-container-small {
    padding: 0 20px;
}
.project-card {
    border: 1px solid black;
    border-radius: 1em;

    overflow: hidden;
    padding-bottom: 20px;
}